<div class="flex flex-col items-center justify-center py-10 gap-2">
  <%= svg_icon "bar-chart-2", css_class: "w-10 h-10 opacity-30", stroke: "#8892A4" %>
  <p class="text-sm" style="color: #8892A4;"><%= message %></p>
</div>
